$background-header: url(../img/m-h-night.jpg);
$background-main: #21232e;
$background-footer-blocks: #3b3f50;
$background-button: #e3ac00;
$font-source: 'Source Sans Pro', sans-serif;
$font-main: 'Hind', sans-serif;
$font-secondary: 'Fresca', sans-serif;
$font-color: white;
$section-footer-font-color: #c0c3ce;
$background-text: #ff4e33;
$footer-gradient-color1: #dba008;
$footer-gradient-color2: #96334f;