$background-header: url(../img/m-h-day.jpg);
$background-main: white;
$background-footer-blocks: #21232e; 
$background-button: #699900;
$font-source: 'Source Sans Pro', sans-serif;
$font-main: 'Hind', sans-serif;
$font-secondary: 'Hind', sans-serif;
$font-color: #2c2f3c;
$section-footer-font-color: #c0c3ce;
$background-text: #14a0c7;
$footer-gradient-color1: #60901d;
$footer-gradient-color2: #315fc9;